# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.clientapp.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Programming\Project_ATARK\clientapp\.idea\.idea.clientapp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
